/* CSS Document */
.holo__wrapper {
	top: 10%;
	position: relative;
	display: flex;
	width: 100%;
	height: inherit;
	user-select: none;
	pointer-events: none;
}
.panel__content {
	flex-basis: 25%;
	position: absolute;
	top: 30%;
	left: 0;
	z-index: 13;
	width: 80%;
}
.panel__text {
	display: inline-block;
	text-align: right;
}
.holo_img-col {
	position: relative;
	flex-basis: 80%;
	width: 100%;
}
.holo_img {
	display: block;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	position: absolute;
}
.panel__title {
	font-size: 3rem;
	margin: 0;
	color: deepskyblue;
}
.panel__addr {
	font-size: 1.5rem;
	position: relative;
	display: flex;
	margin: 16px 0 0;
	justify-content: flex-end;
	color: deepskyblue;
}
.panel__time {
	font-size: 1.5rem;
	position: relative;
	display: flex;
	margin: 16px 0 0;
	justify-content: flex-end;
	color: deepskyblue;
}
.panel__line {
	width: 64%;
	height: 3px;
	margin: 24px 0 0 36%;
	background-color: deepskyblue;
}
.layer_1 {
	z-index: 1;
	box-shadow: 0px 20px 100.28px 8.72px rgba(0, 0, 0, 0.35);
}
.layer_2 {
	z-index: 2;
}
.layer_3 {
	z-index: 3;
}
.layer_4 {
	z-index: 4;
}
.layer_5 {
	z-index: 5;
}
.layer_6 {
	z-index: 6;
}
.layer_7 {
	z-index: 7;
}
.layer_8 {
	z-index: 8;
}
.layer_9 {
	z-index: 9;
}
.layer_10 {
	z-index: 10;
}
.layer_11 {
	z-index: 11;
}
.layer_12 {
	z-index: 12;
}