/* CSS Document */
$color: #fff !default;
$delay: .1s;

* {
	box-sizing: border-box;
}

body {
	background-color: #252A34;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 500px;
	height: 200px;
}

.box {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	border-radius: 0%;
	transform: translateY(0) rotate(0deg);
	animation: jump 1s infinite alternate;
}

@for $i from 1 through 10 {
	@if ($i % 2) == 0 {
		$color: #08D9D6;
	}
	@else {
		$color: #FF2E63;
	}
	.box:nth-child(#{$i}) {
		background-color: $color;
		animation-delay: $delay * $i;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0px) rotate(0deg);
		border-radius: 0%;
	}
	50% {
		transform: translateY(150px) rotate(180deg);
		border-radius: 50%;
	}
	100% {
		transform: translateY(0px) rotate(360deg);
		border-radius: 0%;
	}
}
