$openSans: Helvetica, Arial, sans-serif;
$transTime: 200ms;
button, input {
  border: 0;
  outline: none;
}
.slide-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.static {
  height: 100%;
  font-size: 1.8rem;
  font-family: $openSans;
  background: rgba(255,255,255,0.0);
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    animation: arrows 1.5s infinite;
  }
  &:before {
    top: 15rem;
  }
  &:after {
    top: 35rem;
  }
  
  &__text {
    width: 65%;
	font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 45%;
    margin-left: -5rem;
    transform: translate3d(0,-50%,0);
    color: #fff;
    perspective: 1px;
    backface-visibility: hidden;
  }
}
.sidebar-content {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 1rem;
  opacity: 0;
  transition: opacity $transTime, z-index 0s 0s;
  background-color: rgba(240,6,166,0.8);
  overflow: hidden;
  /*align-items: center;*/
  
  &.active {
	width: 14rem;
    z-index: 2;
    opacity: 1;
  }
}
.sidebar-item {
  position: relative;
  left: 0;
  width: 100%;
  height: 100px;
  border: 1px solid thick;
  color: beige;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
	
  &item__name {
	position: relative;
	left: 0;
	font-size: 10px;
    font-family: $openSans;
  }
  &item__logo {
	position: absolute;
  }
}
.search {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  padding-left: 1.5rem;
  background: #fff;
  display: flex;
  align-items: center;
}
.sidebar {
  z-index: 1;
  position: absolute;
  top: 0;
  display: block;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,0.2);
}
.s-path {
  cursor: grab;
}
.cloned {
  position: absolute;
  z-index: 10;
  transition: top 0.3s, left 0.3s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  
  &.removed {
    transition: opacity 0.2s 0;
    opacity: 0;
  }
}
.detail {
  display: none;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem 0 5.5rem 2.5rem;
  transition: opacity $transTime;
  opacity: 0;
  
  &.active {
    opacity: 1;
    
    &:before {
      width: 100%;
    }
  }
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: #1CC6AE;
    width: 0;
    transition: width 0.2s;
  }
  
  &__back {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: -0.6rem;
    cursor: pointer;
    
    &:hover:before {
      transform: translateX(-0.3rem) rotate(-45deg);
    }
    
    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0.4rem;
      left: 0.6rem;
      width: 1.2rem;
      height: 1.2rem;
      border: 2px solid #545675;
      border-right: none;
      border-bottom: none;
      transform: rotate(-45deg);
      transition: transform 0.3s;
    }
  }
  &__title {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 6.5rem;
    font-size: 2rem;
    font-family: $openSans;
    color: #36343D;
  }
  &__content {
    position: absolute;
    top: 7.5rem;
    left: 2.5rem;
    width: 27.5rem;
    height: 37rem;
    padding-right: 2.5rem;
    overflow-y: auto;
  }
  &__input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5.5rem;
    padding: 1rem 1rem 1rem 4rem;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-search.png');
    background-repeat: no-repeat;
    background-position: 1rem 1.5rem;
    background-color: #E9EAF3;
    color: #2B2342;
    font-size: 1.4rem;
    font-family: $openSans;
  }
}
.ripple {
  position: absolute;
  width: 10rem;
  height: 10rem;
  margin-left: -5rem;
  margin-top: -5rem;
  background: rgba(0,0,0,0.4);
  transform: scale(0);
  animation: animRipple 0.3s;
  border-radius: 50%;
}
@keyframes animRipple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes arrows {
  to {
    transform: translateX(100%) rotate(45deg);
    opacity: 0;
  }
}