.swiper-container {
	max-width: 100%;
	height: 100vh;
	position: relative;
}
.swiper-slide {
	width: 800px;
	max-width: 100vw;
	height: inherit;
	position: relative;
	top: 50%;
	left: 0;
	overflow: hidden;
	border-radius: 15px;
	background: rgba(255,255,255,0.2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
