.thanks {
	width: 100vw;
	margin: 0 auto;
	position: relative;
	display: block;
	z-index: 0;
}
.thanks text {
	fill: #fff;
	font-weight: 700;
}
.thanks text tspan {
	padding: 0;
	margin: 0;
	opacity: 0;
}
.thanks line, .thanks polyline, .thanks ellipse, .thanks path {
	stroke: #fff;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6;
	opacity: 0;
	stroke-miterlimit: 10;
}
.thanks .dec {
	stroke-width: 3;
}
.thanks .underline {
	stroke-width: 6;
	stroke-linecap: butt;
	opacity: 1;
}
.thanks .dot {
	opacity: 1;
}
.thanks .purple {
	stroke: #B191FF;
}
.thanks .lime {
	stroke: #DCE2AA;
}
.thanks .plum {
	stroke: #843B62;
}
.thanks .blue {
	stroke: #241E4E;
}
#play {
	font-size: 10px;
	color: #fff;
	display: block;
	position: 'relative';
	margin: 0 auto;
	width: 200px;
	text-align: center;
	background: none;
	border: none;
	outline: none;
	opacity: 0;
}
